@model BlackJack.ViewModels.GameServiceViewModels.ShowGameViewModel
@using BlackJack.ViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <td>
                @using (Html.BeginForm("StartFirstGameRound", "Game", new { gameId = Model.Id }))
                {
                    <input type="submit" value="StartFirstGameRound" class="btn btn-default" />
                }
            </td>
            <td>
                @using (Html.BeginForm("More", "Game", new {gameId = Model.Id}))
                {
                    <input type="submit" value="More" class="btn btn-default" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Enough", "Game", new {gameId = Model.Id }))
                {
                    <input type="submit" value="Enough" class="btn btn-default" />
                }
            </td>
            <td>
                @using (Html.BeginForm("FinishRound", "Game", new { id = Model.Id }))
                {
                    <input type="submit" value="Finish round" class="btn btn-default" />
                }
            </td>
            <td>
                @using (Html.BeginForm("CalculateResult", "Game", new { gameId = Model.Id }))
                {
                    <input type="submit" value="Calculate results" class="btn btn-default" />
                }
            </td>
            <td>
                @using (Html.BeginForm("CloseGame", "Game", new { id = Model.Id }))
                {
                    <input type="submit" value="Close game" class="btn btn-default" />
                }
            </td>
        </tr>
    </table>
   

   

   

    

</div>

<div>
    <label>Dealer: </label>  @ViewBag.Dealer.Name <br/>
    <label>Dealer's points: </label> @ViewBag.Dealer.Points
</div>

<div>
    <table class="table">
        @foreach (var item in ViewBag.Players)
        {
            <tr>
                <td>
                    <label>Player: </label> @item.Name
                    <br />
                    <label>Players's points: </label>@item.Points
                    <br />
                    <label>Result: </label> @item.Result
                    <br />
                </td>
            </tr>
        }
    </table>
</div>

<p>
       @Html.ActionLink("Back to List", "Index")
</p>
