@model BlackJack.ViewModels.GameServiceViewModels.ShowGameViewModel
@using BlackJack.ViewModels

@{
    ViewBag.Title = "Game results";
}

<h2>Game results</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
</div>

<div>
    <label>Dealer: </label>  @ViewBag.Dealer.Name <br/>
    <label>Dealer's points: </label> @ViewBag.Dealer.Points
</div>

<div>
    <table class="table">
        <tr>
            <td>Player: </td>
            <td>Players's points: </td>
            <td>Result:</td>
        </tr>
        @foreach (var item in ViewBag.Players)
        {
        <tr>
            <td>@item.Name</td>
            <td> @item.Points</td>
            <td> @item.Result</td>
        </tr>
        }
    </table>
</div>

<p>
       @Html.ActionLink("Back to List", "Index")
</p>
