@model BlackJack.ViewModels.GameServiceViewModels.DetailsGameView
@using BlackJack.ViewModels.GameServiceViewModels

@{
    ViewBag.Title = "Game results";
}

<h2>Game results</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Dealer)</td>
            <td>@Html.DisplayFor(model=>model.Dealer.Name)</td>
            <td>@Html.DisplayFor(model=>model.Dealer.Points)</td>
        </tr>
    </table>
    <dl>
        <dt></dt>
        <dd></dd>
    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <td>Player</td>
            <td>Playres points</td>
            <td>Players result</td>
        </tr>
        @foreach (GamePlayerDetailsGameViewItem gp in Model.Players) {
        <tr>
            <td>@gp.Name</td>
            <td>@gp.Points</td>
            <td>@gp.Result</td>
        </tr>
        }
    </table>
</div>
<p>
   @Html.ActionLink("Back to games history", "History")
</p>
